@import url("https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300..700&family=Felipa&family=Lakki+Reddy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Original+Surfer&family=Redressed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Felipa&family=Lakki+Reddy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Original+Surfer&family=Redressed&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Felipa&family=Great+Vibes&family=Lakki+Reddy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Original+Surfer&family=Redressed&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #f2789f;
  --primary-font: "Montserrat";
  --secondary-color: #f999b7;
  --text-align-center: center;
  --display-flex: flex;
  --color-text: white;
  --border-style: solid;
}

body {
  height: 100%;
}

/* HEADER */

.menu-bar {
  display: none;
}

.nav-bar {
  position: fixed;
  z-index: 10;
  box-shadow: 6px 0px 10px 0px rgba(242, 120, 159, 0.75);
  top: 0;
  background-color: white;
  height: 100px;
  width: 100%;
}

.nav-bar-list {
  display: var(--display-flex);
  height: 100px;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar-list-item {
  text-decoration: none;
  margin-right: 12px;
  letter-spacing: 1.2px;
}

.nav-bar-list-item-link {
  text-decoration: none;
  padding: 10px 15px;
  color: rgb(94, 91, 91);
  border: 1px var(--border-style) white;
  font-family: var(--primary-font);
  font-size: 17px;
  transition: color 0.3s;
}

.nav-bar-list-item-link:hover {
  border-radius: 50px;
  color: var(--primary-color);
  cursor: pointer;
}

.nav-bar-list-item-link:active {
  box-shadow: 0px 0px 10px rgba(242, 120, 159, 0.8);
  border: 1px var(--border-style) var(--primary-color);
}

.nav-contact:hover {
  background-color: var(--secondary-color);
  color: var(--color-text);
}

.nav-contact {
  margin-right: 60px;
  color: var(--color-text);
  transition: color 0.3s, background-color 0.5s;
  padding: 8px 20px;
  border-radius: 50px;
  background-color: var(--primary-color);
}

/* SECCION PRINCIPAL */

.section-presentation {
  margin-top: 30px;
  height: 650px;
  display: var(--display-flex);
  padding: 100px;
  background-color: #fbf3f6;
}

.presentation-container {
  display: var(--display-flex);
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 60%;
}

.presentation-hello {
  font-size: 38px;
  font-family: "Thasadith";
  color: #433d3f;
  margin-bottom: 10px;
}

.presentation-name {
  font-family: "Great Vibes";
  font-size: 77px;
  color: var(--primary-color);
  margin-bottom: 25px;
  text-align: var(--text-align-center);
  transition: transform 0.5s ease-in-out;
  text-shadow: 3px -3px 8px rgba(163, 150, 150, 0.52);
}

.presentation-name:hover {
  transform: scale(1.1);
}

.presentation-description {
  color: rgb(98, 90, 90);
  font-family: var(--primary-font);
  font-size: 20px;
  margin-bottom: 50px;
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--color-text);
  border-radius: 50px;
  width: 200px;
  text-decoration: none;
  padding: 15px 10px;
  text-align: var(--text-align-center);
  font-family: var(--primary-font);
  transition: transform 0.3s, background-color 0.3s;
}

.button-primary:hover {
  background-color: var(--secondary-color);
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-primary:active,
.nav-contact:active {
  background-color: var(--primary-color);
}

.presentation-figure {
  display: var(--display-flex);
  flex: 1;
  align-items: center;
  justify-content: center;
}

.presentation-image {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.presentation-image:hover {
  transform: scale(1.03);
}

/* SECCION DE HABILIDADES */

.section-skills {
  height: auto;
  display: var(--display-flex);
  background-color: #fbe7ee;
  flex-direction: column;
  align-items: center;
}

.title-section {
  font-family: var(--primary-font);
  font-weight: 900;
  font-size: 35px;
  text-align: var(--text-align-center);
  margin-top: 130px;
}

.description-section {
  max-width: 350px;
  font-family: var(--primary-font);
  text-align: var(--text-align-center);
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 20px;
  color: rgb(103, 102, 102);
}

.skills-container {
  display: var(--display-flex);
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.skills {
  width: calc(26% - 30px);
  height: 220px;
  background-color: white;
  border: 1.8px var(--border-style) white;
  margin: 15px;
  border-radius: 10px;
  display: var(--display-flex);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: color 0.3s, border 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.skills:hover {
  color: var(--primary-color);
  border: 1.8px var(--border-style) var(--primary-color);
}

.skills-image {
  width: 100px;
  margin-bottom: 20px;
}

.skills-detail {
  font-weight: bold;
  font-size: 20px;
  font-family: var(--primary-font);
}

/* CITA */

.section-quote {
  height: 600px;
  width: 100%;
  background-color: var(--primary-color);
  display: var(--display-flex);
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.quote-image {
  width: 200px;
  height: 200px;
}

.quote {
  max-width: 600px;
  display: var(--display-flex);
}

.quote-text {
  color: var(--color-text);
  font-family: "Dancing Script";
  font-size: 40px;
  font-weight: bold;
  text-align: var(--text-align-center);
  transition: transform 0.5s ease-in-out;
}

.quote-text:hover {
  transform: scale(1.1);
}

.quote-author {
  width: 200px;
  font-size: 30px;
  color: var(--color-text);
  font-weight: bold;
}

/* SECCION DE PROYECTOS */

.section-projects {
  height: auto;
  background-color: #fbe7ee;
  display: var(--display-flex);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-container {
  max-width: 1000px;
  margin-bottom: 100px;
  display: var(--display-flex);
  flex-wrap: wrap;
}

.project-container-item {
  max-width: 300px;
  height: 300px;
  background-color: white;
  margin: 15px;
  border-radius: 10px;
  border: 1.8px var(--border-style) white;
  display: var(--display-flex);
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: black;
  transition: color 0.3s, border 0.5s;
}

.project-image {
  max-width: 75%;
  margin-top: 20px;
}

.project-description {
  font-size: 20px;
  margin-top: 8px;
  font-family: var(--primary-font);
  text-align: var(--text-align-center);
}

.project-container-item:hover {
  border: 1.8px var(--border-style) var(--primary-color);
  color: var(--primary-color);
}

/* SECCION FORMULARIO */

.section-form {
  width: 100%;
  height: 950px;
  background-color: #fbe7ee;
  display: var(--display-flex);
  justify-content: center;
}

.contact-container {
  width: 80%;
  height: 80%;
  display: var(--display-flex);
  background-color: rgb(247, 240, 240);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact {
  width: 50%;
  display: var(--display-flex);
  flex-direction: column;
  padding-left: 50px;
  padding-right: 30px;
  margin-top: 110px;
}

.contact h2 {
  font-family: var(--primary-font);
  font-weight: 900;
  font-size: 45px;
  margin-bottom: 40px;
}

.contact p {
  max-width: 350px;
  font-size: 19px;
  margin-bottom: 40px;
  font-family: var(--primary-font);
  color: #35374b;
}

.contact-list {
  width: 40%;
}

.contact-list-item {
  list-style-type: none;
  margin-top: 20px;
  display: var(--display-flex);
}

.contact-list-item i {
  font-size: 22px;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: var(--display-flex);
  justify-content: center;
  align-items: center;
}

.contact-list-item a {
  text-decoration: none;
  height: 40px;
  color: #35374b;
  display: var(--display-flex);
  align-items: center;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

.contact-img {
  transition: color 0.3s, background-color 0.7s;
}

.contact-list-item:hover .contact-img {
  color: var(--color-text);
  background-color: var(--primary-color);
}

.contact-list-item:hover a {
  color: var(--primary-color);
}

.contact-img {
  margin-right: 15px;
  color: var(--primary-color);
}

.form-contact {
  display: var(--display-flex);
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 20px;
  height: 40px;
  border: 0;
  width: 100%;
  padding: 10px;
  background-color: #fbe7ee;
  outline: none;
  display: block;
  transition: box-shadow 0.3s;
}

input::placeholder {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

input:focus {
  box-shadow: 0px 0px 8px rgb(242, 120, 159);
}

label {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bolder;
  font-family: var(--primary-font);
}

.form-name-container {
  display: var(--display-flex);
}

.form-name {
  width: 50%;
  padding-right: 15px;
}

.form-lastname {
  flex-grow: 1;
}

#lastname {
  margin-top: 10px;
}

#name {
  margin-top: 10px;
}

.form-column {
  display: var(--display-flex);
  flex-direction: column;
}

textarea {
  background-color: #fbe7ee;
  font-family: "Times New Roman", Times, serif;
  border-radius: 20px;
  font-size: 16px;
  border: 0;
  margin-top: 10px;
  padding: 10px;
  outline: none;
  width: 100%;
  transition: box-shadow 0.3s;
}

textarea:focus {
  box-shadow: 0px 0px 8px rgb(242, 120, 159);
}

.button-form {
  display: var(--display-flex);
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  font-size: 16px;
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  border-radius: 25px;
  color: var(--color-text);
  border: 0;
  margin-top: 30px;
  transition: transform 0.3s, background-color 0.3s;
  transition: transform 0.5s;
}

.button-form:hover {
  background-color: var(--secondary-color);
  transform: translateY(-3px);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-form:active {
  background-color: var(--primary-color);
  transform: scale(1.1);
}

/* FOOTER */

footer {
  width: 100%;
  background-color: var(--primary-color);
  padding-bottom: 40px;
}

.nav-footer {
  display: var(--display-flex);
  height: 100px;
  justify-content: center;
}

.nav-footer-list {
  list-style-type: none;
  display: var(--display-flex);
  margin-top: 80px;
  letter-spacing: 1.3px;
}

.nav-footer-list-item-link {
  text-decoration: none;
  border: 1px var(--border-style) var(--primary-color);
  margin-right: 10px;
  color: var(--color-text);
  font-family: var(--primary-font);
  font-size: 16px;
  padding: 8px 15px;
}

.nav-footer-list-item-link:active {
  border-radius: 50px;
  color: var(--color-text);
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  border: 1px var(--border-style) rgba(255, 255, 255, 0.5);
}

.icon-footer {
  display: var(--display-flex);
  height: 100px;
  justify-content: center;
}

.icon-footer-list {
  list-style-type: none;
  display: var(--display-flex);
  margin-top: 50px;
}

.icon-footer-list-item {
  text-decoration: none;
  font-size: 22px;
  background-color: white;
  border-radius: 50%;
  border: 1px var(--border-style) white;
  margin-right: 18px;
  display: var(--display-flex);
  justify-content: center;
  align-items: center;
  transition: border 0.3s, background-color 0.3s;
}

.icon-img {
  color: var(--primary-color);
  padding: 15px;
}

.icon-footer-list-item:hover {
  background-color: var(--primary-color);
  border: 1px var(--border-style) white;
}

.icon-footer-list-item:hover .fa:hover {
  color: var(--color-text);
}

.by {
  text-align: var(--text-align-center);
  margin-top: 50px;
  font-family: var(--primary-font);
  font-family: 16px;
  color: var(--color-text);
}

/* MEDIA QUERIE */

@media screen and (max-width: 990px) and (min-width: 768px) {
  .presentation-name {
    font-size: 70px;
  }

  .section-projects {
    height: auto;
    justify-content: center;
  }

  .projects-container {
    margin-bottom: 100px;
    max-width: 660px;
  }

  .project-container-item {
    max-width: 300px;
  }

  .contact {
    width: 50%;
    padding-left: 30px;
  }
}

/* TABLET */

@media screen and (max-width: 768px) {
  .nav-bar {
    max-height: 80px;
    width: 100%;
    display: var(--display-flex);
    padding-left: 30px;
    position: relative;
  }

  .menu-bar {
    display: var(--display-flex);
    align-items: center;
  }

  .menu-bar .open {
    display: block;
    height: 30px;
    width: 30px;
  }

  .menu-bar .close {
    height: 30px;
    width: 30px;
  }

  .nav-bar-list {
    position: absolute;
    top: 100%;
    height: 35vh;
    width: 100%;
    left: 0;
    background-color: white;
    z-index: 11;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-160%);
    transition: transform 0.5s;
  }

  .nav-contact {
    margin: 0;
  }

  .close {
    display: none;
  }

  #menu:target .nav-bar-list {
    width: 100%;
    height: 35vh;
    transform: translateY(0);
  }

  #menu:target .open {
    display: none;
  }

  #menu:target .close {
    display: block;
  }

  #menu:target {
    margin-bottom: 300px;
  }

  .section-presentation {
    max-width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .presentation-container {
    padding: 0;
    margin: 0;
    margin-top: 50px;
    max-width: 100%;
    margin-top: 50px;
    align-items: center;
  }

  .presentation-figure {
    width: 100%;
  }

  .presentation-image {
    margin: auto;
    margin-bottom: 50px;
    max-width: 400px;
  }

  .presentation-description {
    text-align: var(--text-align-center);
  }

  .section-skills {
    height: auto;
  }

  .skills-container {
    margin-bottom: 100px;
  }

  .skills {
    margin: 15px;
    min-width: 200px;
  }

  .section-projects {
    height: auto;
    justify-content: center;
  }

  .projects-container {
    margin-bottom: 100px;
    max-width: 660px;
  }

  .project-container-item {
    max-width: 300px;
  }

  .section-form {
    width: 100%;
    height: auto;
  }

  .contact-container {
    width: 100%;
    display: var(--display-flex);
    flex-direction: column;
    padding-bottom: 100px;
  }

  .contact-list {
    width: 100%;
    display: var(--display-flex);
    flex-wrap: wrap;
  }

  .contact-list-item {
    width: 50%;
  }

  .contact {
    width: 100%;
  }

  .contact p {
    max-width: 350px;
  }
}

/* MOBILE */

@media screen and (max-width: 580px) and (min-width: 315px) {
  .nav-bar {
    max-height: 80px;
    width: 100%;
    display: var(--display-flex);
    padding-left: 30px;
    position: relative;
  }

  .menu-bar {
    display: var(--display-flex);
    align-items: center;
  }

  .menu-bar .open {
    display: block;
    height: 30px;
    width: 30px;
  }

  .menu-bar .close {
    height: 30px;
    width: 30px;
  }

  .nav-bar-list {
    position: absolute;
    top: 100%;
    height: 35vh;
    left: 0;
    background-color: white;
    z-index: 11;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-160%);
    transition: transform 0.5s;
  }

  .nav-contact {
    margin: 0;
  }

  .close {
    display: none;
  }

  #menu:target .nav-bar-list {
    width: 100%;
    height: 35vh;
    transform: translateY(0);
  }

  #menu:target .open {
    display: none;
  }

  #menu:target .close {
    display: block;
  }

  #menu:target {
    margin-bottom: 300px;
  }

  .section-presentation {
    margin: 0;
    width: auto;
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .presentation-container {
    padding: 5px;
    width: auto;
    margin: 0;
    margin-top: 50px;
    align-items: center;
    text-align: var(--text-align-center);
  }

  .presentation-name {
    font-size: 65px;
    transition: none;
  }

  .presentation-name:hover {
    transform: none;
  }

  .presentation-figure {
    margin: 0;
    width: auto;
  }

  .presentation-image {
    margin-bottom: 50px;
    max-width: 350px;
  }

  .description-section {
    padding: 0 5px;
  }

  .section-skills {
    height: auto;
  }

  .skills-container {
    margin-bottom: 100px;
  }

  .section-quote {
    padding: 30px;
  }

  .quote-text {
    transition: none;
  }

  .quote-text:hover {
    transform: none;
  }

  .section-projects {
    height: auto;
  }

  .projects-container {
    height: auto;
    margin-bottom: 100px;
    justify-content: center;
  }

  .section-form {
    width: 100%;
    height: auto;
  }

  .contact-container {
    width: 100%;
    display: var(--display-flex);
    flex-direction: column;
    padding-bottom: 100px;
  }

  .form-contact {
    width: 100%;
  }

  .contact-list {
    display: var(--display-flex);
    flex-direction: column;
  }

  .contact {
    width: 100%;
    padding-left: 30px;
  }

  .contact h2 {
    font-size: 40px;
  }

  .contact-list-item {
    width: 50%;
  }

  .nav-footer {
    height: auto;
  }

  .nav-footer-list {
    margin-top: 50px;
    flex-direction: column;
    text-align: var(--text-align-center);
  }

  .nav-footer-list-item {
    margin: 15px;
  }
}
