@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300..700&family=Felipa&family=Lakki+Reddy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Original+Surfer&family=Redressed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Felipa&family=Lakki+Reddy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Original+Surfer&family=Redressed&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-principal: #F2789F;
    --fuente-principal: 'Times New Roman';
    --fuente-titulos: 'Montserrat';

}

body {
    /* font-family: 'Montserrat'; */
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    height: 100%;    
}

/* HEADER */

.menu-bar {
    display: none;
}

.nav-bar {
    position: fixed;
    z-index: 10;
    box-shadow: 6px 0px 10px 0px rgba(242, 120, 159, 0.75);
    top: 0;
    background-color: white;
    height: 100px;
    width: 100%;
}

.nav-bar-list {
    display: flex;
    height: 100px;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar-list-item {
    text-decoration: none;
    margin-right: 12px;
    letter-spacing: 1.2px;
}

.nav-bar-list-item-link {
    text-decoration: none;
    padding: 10px 15px; 
    color: rgb(94, 91, 91);
    border: 1px solid white;
    font-family: "Montserrat";
    font-size: 17px;
}

.nav-bar-list-item-link:hover {
    border-radius: 50px;
    color: #F2789F;
    cursor: pointer;
}

.nav-bar-list-item-link:active {
    box-shadow: 0px 0px 10px rgba(242, 120, 159, 0.8); 
    border: 1px solid #F2789F;
}

.nav-contact:hover {
    background-color: #F999B7;
    color: white;
}

.nav-contact {
    margin-right: 60px;
    color: white;
    padding: 8px 20px;
    border-radius: 50px;
    background-color: #F2789F;
}

/* SECCION PRINCIPAL */

.section-presentation {
    margin-top: 30px;
    height: 650px;
    display: flex;
    padding: 100px;
    background-color: #fbf3f6;
}

.presentation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.presentation-hello {
    font-size: 38px;
    font-weight: bolder;
    color: #433d3f;
    margin-bottom: 15px;
}

.presentation-name {
    font-weight:900;
    font-family: "Montserrat";
    font-size: 60px;
    color: #F2789F;
    margin-bottom: 20px;
    text-align: center;
}

.presentation-description {
    color: rgb(98, 90, 90);
    font-size: 21px;
    margin-bottom: 50px;
}

.button-primary {
    background-color: #F2789F;
    color: white;
    border-radius: 50px;
    width: 200px;
    text-decoration: none;
    padding: 15px 10px;
    text-align: center;
}

.button-primary:hover {
    background-color: #F999B7;
}

.button-primary:active {
    background-color: #F2789F;
}

.presentation-figure {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.presentation-image {
    width: 100%;
}

/* SECCION DE HABILIDADES */

.section-skills {
    height: auto;
    display: flex;
    background-color:#fbe7ee;
    flex-direction: column;
    align-items: center;
}

.title-section {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    margin-top: 130px;
}

.description-section {
    max-width: 350px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    color: rgb(103, 102, 102);
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.skills {
    width: calc(33.33% - 30px);
    height: 220px;
    background-color: white;
    border: 1.8px solid white;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.skills:hover {
    color: #F2789F;
    border: 1.8px solid #F2789F;
}

.skills-image {
    width: 100px;
    margin-bottom: 20px;
}

.skills-detail {
    font-weight: bold;
    font-size: 20px;
    font-family: "Montserrat";
}

/* CITA */

.section-quote {
    height: 650px;
    width: 100%;
    background-color: #F2789F;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.quote-image {
    width: 200px;    
    height: 200px;
}

.quote {
    max-width: 600px;
    display: flex;
}

.quote-text {
    color: white;
    font-family:'Redressed';
    font-size: 40px;
    font-weight: bold;
    text-align:center;
}

.quote-author {
    width: 200px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

/* SECCION DE PROYECTOS */

.section-projects {
    height: auto;
    background-color:#fbe7ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-container {
    max-width: 1000px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.project-container-item {
    max-width: 300px;
    height: 300px;
    background-color: white;
    margin: 15px;
    border-radius: 10px;
    border: 1.8px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    color: black; 
}

.project-image {
    max-width: 75%; 
    margin-top: 20px;
}

.project-description {
    font-size: 20px;
    margin-top: 8px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.project-container-item:hover {
    border: 1.8px solid #F2789F;
    color: #F2789F;
}

/* SECCION FORMULARIO */

.section-form {
    width: 100%;
    height: 950px;
    background-color: #fbe7ee;
    display: flex;
    justify-content: center;
}

.contact-container {
    width: 80%;
    height: 80%;
    display: flex;
    background-color: rgb(247, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

.contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 30px;
    margin-top: 110px;
}

.contact h2 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 40px;
}

.contact p {
    max-width: 350px;
    font-size: 19px;
    margin-bottom: 40px;
    color: #35374B;
}

.contact-list {
    width: 40%;
}

.contact-list-item {
    list-style-type: none;
    margin-top: 20px;
    display: flex;
}

.contact-list-item i {
    font-size: 22px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list-item a {
    text-decoration: none;
    height: 40px;
    color: #35374B;
    display: flex;
    align-items: center;
}

.contact-list-item:hover .contact-img {
    color: white;
    background-color: #F2789F;
}

.contact-list-item:hover a {
    color: #F2789F;
}

.contact-img {
    margin-right: 15px;
    color: #F2789F;
}

.form-contact {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 20px;
    height: 40px;
    border: 0;
    width: 100%;
    padding: 10px;
    background-color: #FBE7EE;
    outline: none;
    display: block;
}

input::placeholder {
    font-size: 16px;
}

input:focus {
    box-shadow: 0px 0px 8px rgb(242, 120, 159); 
}

label {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bolder;
    font-family: "Montserrat";
}

.form-name-container {
    display: flex;
}

.form-name {
    width: 50%;
    padding-right: 15px;
}

.form-lastname {
    flex-grow: 1;
}

#lastname {
    margin-top: 10px;
}

#name {
    margin-top: 10px;
}

.form-column {
    display: flex;
    flex-direction: column;
}

textarea {
    background-color: #FBE7EE;
    border-radius: 20px;
    border: 0;
    margin-top: 10px;
    padding: 10px;
    outline: none;
    width: 100%;
}

textarea:focus {
    box-shadow: 0px 0px 8px rgb(242, 120, 159); 
}

.button-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    font-size: 16px;
    background-color: #F2789F;
    border-radius: 25px;
    color: white;
    border: 0;
    margin-top: 30px;
}

.button-form:hover {
    background-color: #F999B7;
    cursor: pointer;
}

.button-form:active {
    background-color: #F2789F;
}

/* FOOTER */

footer {
    width: 100%;
    background-color: #F2789F;
    padding-bottom: 40px;
}

.nav-footer {
    display: flex;
    height: 100px;
    justify-content: center;
}

.nav-footer-list {
    list-style-type: none;
    display: flex;
    margin-top: 80px;
    letter-spacing: 1.3px;
}

.nav-footer-list-item-link {
    text-decoration: none;
    border: 1px solid #F2789F;
    margin-right: 10px;
    color: white;
    font-family: "Montserrat";
    font-size: 16px;
    padding: 8px 15px;
}

.nav-footer-list-item-link:active{
    border-radius: 50px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); 
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.icon-footer {
    display: flex;
    height: 100px;
    justify-content: center;
}

.icon-footer-list {
    list-style-type: none;
    display: flex;
    margin-top: 50px;
}

.icon-footer-list-item {
    text-decoration: none;
    font-size: 22px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-img {
    color: #F2789F;
    padding: 15px;
}

.icon-footer-list-item:hover {
    background-color: #F2789F;
    border: 1px solid white;
}

.icon-footer-list-item:hover .fa:hover {
    color: white;
}

.by {
    text-align: center;
    margin-top: 50px;
    font-family: "Montserrat";
    font-family: 16px;
    color: white;
}

/* MEDIA QUERIE */

@media screen and (max-width:990px) and (min-width:768px) {
    .presentation-name {
        font-size: 45px;
    }
    
    .section-projects {
        height: auto;
        justify-content: center;
}

    .projects-container {
        margin-bottom: 100px;
        max-width: 660px;
    }

    .project-container-item {
        max-width: 300px;
    }

    .contact {
        width: 50%;
        padding-left: 30px;
    }
}

/* TABLET */

@media screen and (max-width: 768px) {
    .nav-bar {
        max-height: 80px;
        width: 100%;
        display: flex;
        padding-left: 30px;
        position: relative;
    }

    .menu-bar {
        display: flex;
        align-items: center;
    }
    
    .menu-bar .open {
        display: block;
        height: 30px;
        width: 30px;
    }

    .menu-bar .close {
        height: 30px;
        width: 30px;
    }

    .nav-bar-list {
        display: none;
        max-width: 100%;
        height: auto;
        position: absolute; 
        top: 100%;
        left: 0; 
        background-color: white;
        z-index: 11;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
    }

    .nav-contact {
        margin: 0;
    }
    
    .close {
        display: none;
    }  
    
    #menu:target .nav-bar-list {
        display: flex;
        height: 50vh;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    #menu:target .open {
        display: none;
    }
    
    #menu:target .close {
        display: block;
    }

    #menu:target {
        margin-bottom: 300px;
    }

    .section-presentation {
        max-width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .presentation-container {
        max-width: 100%;
        margin-top: 50px;
        align-items: center;
    }

    .presentation-figure {
        width: 100%;
    }

    .presentation-image {
        margin: auto;
        margin-bottom: 50px;
        max-width: 400px;
    }

    .section-skills {
        height: auto;
    }

    .skills-container {
        margin-bottom: 100px;
    }

    .skills {
        margin: 15px;
        min-width: 200px;
    }

    .section-projects {
        height: auto;
        justify-content: center;
}

    .projects-container {
        margin-bottom: 100px;
        max-width: 660px;
    }

    .project-container-item {
        max-width: 300px;
    }

    .section-form {
        width: 100%;
        height: auto;
    }

     .contact-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
    } 

    .contact-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .contact-list-item {
        width: 50%;
    }

    .contact {
        width: 100%;
    }

    .contact p {
        max-width: 350px;
    }
  }    

  /* MOBILE */

  @media screen and (max-width: 580px) and (min-width:320px){
    .nav-bar {
        max-height: 80px;
        width: 100%;
        display: flex;
        padding-left: 30px;
        position: relative;
    }

    .menu-bar {
        display: flex;
        align-items: center;
    }
    
    .menu-bar .open {
        display: block;
        height: 30px;
        width: 30px;
    }

    .menu-bar .close {
        height: 30px;
        width: 30px;
    }

    .nav-bar-list {
        display: none;
        max-width: 100%;
        height: auto;
        position: absolute; 
        top: 100%;
        left: 0; 
        background-color: white;
        z-index: 11;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
    }

    .nav-contact {
        margin: 0;
    }
    
    .close {
        display: none;
    }  
    
    #menu:target .nav-bar-list {
        display: flex;
        height: 50vh;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    #menu:target .open {
        display: none;
    }
    
    #menu:target .close {
        display: block;
    }

    #menu:target {
        margin-bottom: 300px;
    }

    .section-presentation {
        margin: 0;
        width: auto;
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .presentation-container {
        padding: 5px;
        width: auto;
        margin: 0;
        margin-top: 50px;
        align-items: center;
        text-align: center;
    }

    .presentation-name {
        font-size: 43px;
    }

    .presentation-figure {
        margin: 0;
        width: auto;
    }

    .presentation-image {
        margin-bottom: 50px;
        max-width: 350px;
    }

    .description-section {
        padding: 0 5px;
    }

    .section-skills {
        height: auto;
    }

    .skills-container {
        margin-bottom: 100px;
    }

    .section-quote {
        padding: 30px;
    }

    .section-projects {
        height: auto;
    }

    .projects-container {
        height: auto;
        margin-bottom: 100px;
        justify-content: center;
    }

    .section-form {
        width: 100%;
        height: auto;
    }

     .contact-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
    } 

    .form-contact {
        width: 100%;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
    }

    .contact {
        width: 100%;
        padding-left: 30px;
    }

    .contact h2 {
        font-size: 40px;
    }

    .contact-list-item {
        width: 50%;
    }

    .nav-footer {
        height: auto;
    }
    
    .nav-footer-list {
        flex-direction: column;
        text-align: center;
    }

    .nav-footer-list-item {
        margin: 15px;
    }
 
    /***/
}

/* MENU HAMBURGUESA */
